# Application Settings
APP_PORT=8000

# Database Settings
DB_DATABASE=warehouse_storage
DB_USERNAME=laravel
DB_PASSWORD=
DB_ROOT_PASSWORD=
DB_PORT=33060

# Seeding Password
SEEDER_PASSWORD = 